@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');
/* @import './root.css'; */

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Inter', sans-serif;
}


/*
   100% = 16px
   (10*100)/16 - referencia para 10px, para a porcentagem 62.5%
   para todas as fontes eu divido por 10 que vai dar o valor em .rem. EX: 376px / 10 = 37.6rem
   outro exemplo 16px / 10 = vai da a porcentagem em rem = 1.6rem
*/

:root {
   /* 1rem = 10px */
   font-size: 62.5%;

   --primary-color: hsl(0, 0%, 100%);
   --title-boasVindas-color: #1c1c1c;
   --header: hsl(240, 20%, 98%);
   --subtitle-color: hsla(0, 0%, 59%);

   --card-info-burger: hsl(0, 0%, 11%);

   --primary-background-color: #000;
   --background-color-searchInput: hsl(0, 0%, 100%);
   --background-color-ButtonSearch: hsl(240, 20%, 98%);
}