.container {
   display: block;
   background-color: var(--primary-color);
   box-shadow: 0rem .8rem 4rem rgba(0, 0, 0, 0.08);
   border-radius: .8rem;
   overflow: hidden;
   text-decoration: none;
}

.head {
   height: 9rem;
}

.info {
   padding: 1.3rem;
}

.info .img {
   text-align: center;
   margin-top: -9rem;
}

.info .img img {
   width: 100%;
   height: auto;
}

.info .catName {
   font-size: .8rem;
   font-weight: 500;
   color: var(--card-info-burger);
}

.info .name {
   font-size: 1.8rem;
   font-weight: 700;
   color: var(--card-info-burger);
}

.info .price {
   font-size: 1.5rem;
   font-weight: 600;
}